@using App.Web.Models
@model ResetPasswordViewModel
@{
    ViewBag.Title = "Reset password";
}
<div class="m-portlet">
    <div class="m-portlet__body">
        @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "m-form", role = "form" })) {
            @Html.AntiForgeryToken()

            <div class="m-form__section m-form__section--first">
                @Html.ValidationSummary("", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Code)
                @Html.HiddenFor(model => model.Email)
                @*<div class="form-group">
                        @Html.LabelFor(m => m.Email, new {@class = "col-md-2 control-label"})
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Email, new {@class = "form-control"})
                        </div>
                    </div>*@

                @Html.FormFieldPartial(Model?.OldPassword, new TextFieldSetting() {
                    InputName = Html.NameFor(t => t.OldPassword).ToString(),
                    Label = Html.LabelForRequired(e => e.OldPassword).ToString(),
                    Placeholder = "Old Password",
                    CssClass = "",
                    Style = TextFieldStyle.Password
                })

                @Html.FormFieldPartial(Model?.Password, new TextFieldSetting() {
               InputName = Html.NameFor(t => t.Password).ToString(),
               Label = Html.LabelForRequired(e => e.Password).ToString(),
               Placeholder = "Password",
               CssClass = "",
               Style = TextFieldStyle.Password
           })

                @Html.FormFieldPartial(Model?.ConfirmPassword, new TextFieldSetting() {
               InputName = Html.NameFor(t => t.ConfirmPassword).ToString(),
               Label = Html.LabelForRequired(e => e.ConfirmPassword).ToString(),
               Placeholder = "Confirm Password",
               CssClass = "",
               Style = TextFieldStyle.Password
           })

                @*<div class="form-group">
                        @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                        </div>
                    </div>*@
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" class="btn btn-default" value="Reset" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    @*@Scripts.Render("~/bundles/jqueryval")*@
}
